-e .
aws-cdk.core==1.107.0
aws_cdk.aws-ec2==1.107.0
aws_cdk.aws-events-targets==1.107.0
aws_cdk.aws-events==1.107.0
aws_cdk.aws-iam==1.107.0
aws_cdk.aws-lambda==1.107.0
aws_cdk.aws-rds==1.107.0
aws_cdk.aws-secretsmanager==1.107.0
aws_cdk.aws-ssm==1.107.0
